body , html{
    background-color: black;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: whitesmoke;
    position: relative;
    left:47px;
    width: 80%;
    font-size: 45px;
    margin: 2px;
}

.first-image{
    background: url(img/japan.jpg)100% 100%/100% 100% ;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 100%;
    height: 650px;
}

.first-image h1{
    width: 35%;
    margin: 0;
    position: relative;
    left: 20%;
    top: 40%;
}

.first-image h2{
    color: whitesmoke;
    font-size: 38px;
    width: 40%;
    margin: 0;
    position: relative;
    left: 20%;
    top: 44%;
}

.about-me{
    height: 645px;
}


#user-profile{
    float: right;
    width: 60vh;
    height: 80vh;
    margin-right: 40px;
}


#user-description{
    position: static;
    font-size: 22px;
    color: whitesmoke;
    width: 800px;
    left: 25px;
    top: 53px;
}

.neon-button {
    background-color: #fff;
    color: #111;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
  }
  
  .neon-button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 70px #fff, 0 0 90px #fff;
    transition: opacity 0.3s ease-in-out;
  }
  
  .neon-button:hover::before {
    opacity: 1;
  }

.sentence{
    background-color: rgb(36, 36, 36);
    text-align: center;
    height:30px;
}

#phrase{
    position: relative;
    margin: 0;
    color: wheat;
    top: 5px;
}

.contact-me{
    z-index: 1;
    background: url(img/footer-image.png) 100% 100%/100% 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 390px;
}

.container {
    display: flex;
    gap: 90px;
    justify-content: center;
  }

.item {
    text-align: center;
    margin-top: 75px;
  }

.contact-me p{
    margin-top: 10px;
    color: aliceblue;
  }

.contact-me img{
    filter: brightness(0);
    -webkit-filter: invert(1);
    filter: invert(1);
}

@media only screen and (max-width: 600px) {

    .first-image{
       
        height: 640px;
    }

    .about-me h1{
        position: relative;
        left: 12px;
        width: 50%;
    }

    #user-profile{
       position: relative;
       width: 150px;
       height: 300px;
    
       margin: 0;
    }

    #user-description{
        position: relative;
    
        
        
        color: whitesmoke;
        width: 48vh;
        height: 640px;
        margin: 0;
    }

    .first-image{
        height: 590px;
    }

    .sentence{
        
        height:60px;
    }

    #phrase{
        
        top: 6px;
    }

    .contact-me{
        height: 240px;
    }


    .contact-me p{
        visibility: hidden;
       
    }

    .container {
        justify-content: center;
        gap: 0.1px;
    }

    .contact-me img{
        width: 34px;
        height: 34px;
    }

    .item {
    
        margin-top: 60px;
      }

  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }