body {

    background-color: rgb(24, 24, 24);

}

/* BARRA DE ROLAGEM  */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
}

.main-background{
  background-image: url('../images/saopaulo.png');
  filter: grayscale(100%);
  width: 100%;
  height: 600px;
}

.about{
  background-color: black;
  height: 600px;
}