body {

    background-color: black;

}

/* BARRA DE ROLAGEM  */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    opacity: 0;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
}

.main-background{
  background-image: url('../images/saopaulo.png');
  filter: grayscale(100%);
  width: 100%;
  height: 690px;
}

.main-background:hover{
  filter: grayscale(0%);
}

.about-container {
  display: flex;
}

.about-child{
  flex: 1;
}  

.about-child:first-child {
  margin-right: 20px;
} 