/* BARRA DE ROLAGEM  */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    opacity: 0;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
}

body{
    background-color: black;
    height: 100%;

}

.about{
    color: black;
    width: 100%;
    height: 686px;
}
.about-container {
    height: 686px;

    padding: 20px;
}

.about-left {
    color: white;
    width: 50%;
    height: 655px;
    float: left;
    padding: 20px;

} 

.about-right {
    width: 36%;
    height: 655px;
    float: right;

}

.transition{
    width: 100%;
    height: 175px;
    background: rgb(0,0,0);
    background: linear-gradient(to bottom,rgba(0,0,0,1) 35%, rgba(65,63,63,0.9976365546218487) 62%, rgba(255,255,255,0.9976365546218487) 99%);
}

.experience{
    width: 100%;
    height: 670px;
    background: white;

}

.contact{
    background-image: url('../images/border.png');
    filter: grayscale(100%);
    border: none;
    width: 98%;
    height: 450px;

}




























@media only screen and (max-width: 600px) {
    .main-background img{
        height: 830px;
    }
}